version: '2'
services:
  connect:
    image: debezium/connect:1.6
    container_name: connect
    ports:
      - 8083:8083
    environment:
      - GROUP_ID=${HOSPCODE}_${GROUP}
      - CONFIG_STORAGE_TOPIC=${HOSPCODE}-${GROUP}_hisgateway_connect_configs
      - OFFSET_STORAGE_TOPIC=${HOSPCODE}-${GROUP}_hisgateway_connect_offsets
      - STATUS_STORAGE_TOPIC=${HOSPCODE}-${GROUP}_hisgateway_connect_statuses
      - CONNECT_SSL_TRUSTSTORE_LOCATION=/var/private/ssl/kafka.client.${HOSPCODE}.truststore.jks
      - CONNECT_PRODUCER_SSL_TRUSTSTORE_LOCATION=/var/private/ssl/kafka.client.${HOSPCODE}.truststore.jks
      - CONNECT_SSL_KEYSTORE_LOCATION=/var/private/ssl/kafka.client.${HOSPCODE}.keystore.jks
      - CONNECT_PRODUCER_SSL_KEYSTORE_LOCATION=/var/private/ssl/kafka.client.${HOSPCODE}.keystore.jks
      - CONNECT_PRODUCER_SSL_TRUSTSTORE_PASSWORD=${PASSWORD}
      - CONNECT_PRODUCER_SSL_KEYSTORE_PASSWORD=${PASSWORD}
      - CONNECT_SSL_TRUSTSTORE_PASSWORD=${PASSWORD}
      - CONNECT_SSL_KEYSTORE_PASSWORD=${PASSWORD}
      - CONNECT_SSL_KEY_PASSWORD=${PASSWORD}
      - CONNECT_PRODUCER_SSL_KEY_PASSWORD=${PASSWORD}
      - BOOTSTRAP_SERVERS=broker1.gateway.moph.go.th:19093,broker2.gateway.moph.go.th:19093,broker3.gateway.moph.go.th:19093,broker4.gateway.moph.go.th:19093,broker5.gateway.moph.go.th:19093
      - CONNECT_PRODUCER_BOOTSTRAP_SERVERS=broker1.gateway.moph.go.th:19093,broker2.gateway.moph.go.th:19093,broker3.gateway.moph.go.th:19093,broker4.gateway.moph.go.th:19093,broker5.gateway.moph.go.th:19093
      - CONNECT_SECURITY_PROTOCOL=SSL
      - CONNECT_PRODUCER_SECURITY_PROTOCOL=SSL
      - CONNECT_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM=
      - CONNECT_PRODUCER_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM=
      - CONNECT_MAX_REQUEST_SIZE=104857600
      - CONNECT_CONNECTOR_CLIENT_CONFIG_OVERRIDE_POLICY=All
      - CONNECT_OFFSET_FLUSH_TIMEOUT_MS=90000
      - CONNECT_PRODUCER_BUFFER_MEMORY=90000
      - CONNECT_TOPIC_CREATION_DEFAULT_REPLICATION_FACTOR=3
      - CONNECT_TOPIC_CREATION_DEFAULT_PARTITIONS=10
      - CONNECT_TOPIC_CREATION_DEFAULT_CLEANUP_POLICY=compact
      - CONNECT_TOPIC_CREATION_DEFAULT_COMPRESSION_TYPE=lz4
      - CONNECT_CONSUMER_REQUEST_TIMEOUT_MS=90000
      - CONNECT_PRODUCER_REQUEST_TIMEOUT_MS=90000
      - CONNECT_REQUEST_TIMEOUT_MS=90000
      - CONNECT_STATUS_STORAGE_REPLICATION_FACTOR=3
      - CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR=3
      - CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR=3
    volumes:
      - ./cert:/var/private/ssl
    restart: always
    dns:   
      - 8.8.8.8
      - 203.157.19.113
    networks:
      gw-network:
        ipv4_address: 192.168.4.5
  hisgateway-web:
    image: mophos/hisgateway-client-web
    container_name: hisgateway-web
    restart: always
    networks:
      gw-network:
        ipv4_address: 192.168.4.3
  hisgateway-api:
    image: mophos/hisgateway-client-api
    restart: always
    container_name: hisgateway-api
    environment:
      - KAFKA_CONNECT_ENDPOINT=http://192.168.4.5:8083
      - ICTPORTAL_ENDPOINT=https://oauth.moph.go.th/v1/login
      - SECRET_KEY=123456
    links:
      - connect
    pid: "host"
    networks:
      gw-network:
        ipv4_address: 192.168.4.4
  hisgateway-history-api:
    image: mophos/hisgateway-history-api
    restart: always
    container_name: hisgateway-history-api
    dns:   
      - 8.8.8.8
      - 203.157.19.113
    volumes: 
      - ./cert:/var/private/ssl
      - ./data:/var/data
    environment:
      - PATH_CERT=/var/private/ssl
      - PATH_DATA=/var/data
      - SECRET_KEY=123456
    links:
      - connect
    pid: "host"
    networks:
      gw-network:
        ipv4_address: 192.168.4.7
  hisgateway-mqtt:
    image: mophos/hisgateway-client-mqtt
    restart: always
    container_name: hisgateway-mqtt
    environment:
      - HOSPCODE=${HOSPCODE}
    pid: "host"
    dns:   
      - 8.8.8.8
      - 203.157.19.113
    networks:
      gw-network:
        ipv4_address: 192.168.4.6
  nginx:
    image: nginx:1.13.0-alpine
    container_name: nginx
    restart: always
    ports:
    - "${PORT}:80"
    volumes:
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      gw-network:
        ipv4_address: 192.168.4.2
networks:
  gw-network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.4.0/24
